/*blue highligh*/
input[type=text, textarea], textarea{
	@include transition(all 0.30s ease-in-out);
	outline:none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 2px solid ;
}
input[type=text]:focus, textarea:focus {
	@include box-shadow (0 0 5px rgba(81,203,238,1));
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 2px solid rgba(81, 203, 238, 1);
}
label {
	width: 150px;
	float: left;
}
 body {
	padding: 20px;
}
